@layer components {
  /* dashboard back ground  */
  .backGround-img {
    @apply text-lotion bg-cover bg-fixed bg-origin-border bg-center bg-repeat;
  }
  /* header */
  .DashHeader-clc {
    width: calc(100vw - 91px);
  }
  .DashHeader {
    @apply DashHeader-clc flex items-center h-fit py-4 px-16;
  }

  .HeaderBell {
    @apply;
  }
  /* nav bar styles  */
  /* icon box */

  .icon-wrapper {
    @apply flex items-center cursor-pointer w-full h-[60px] mb-2;
  }
  .icon-line {
    @apply transition ease-in-out delay-75  w-[5px] h-4/6 bg-transparent
     group-hover:bg-lotion rounded-2xl group-hover:shadow-lotion shadow-sm;
  }
  .icon-div {
    @apply w-full mr-[5px] flex justify-center;
  }
  .nav-icon {
    @apply w-[26px] h-[26px] fill-lotion/70 group-hover:fill-lotion
     transition ease-in-out delay-75;
  }

  .iconBell {
    @apply nav-icon group-hover:fill-pictonBlue;
  }

  /* navbar style */

  .navbar {
    @apply gradientSpaceCadet shadow-sm rounded-r-2xl;
  }

  /* .homeIcon {
    @apply fill-lotion/70 group-hover:fill-lotion transition ease-in-out delay-75;
  }

  .activeIcon {
    @apply fill-pictonBlue;
  } */

  .gradientColor {
    background-image: linear-gradient(
      to right top,
      #0d1f41,
      #0e2144,
      #0f2247,
      #10244b,
      #11264e,
      #122851,
      #122953,
      #132b56,
      #132c59,
      #132d5c,
      #142e5f,
      #142f62
    );
  }
  .gradientSpaceCadet {
    @apply h-full w-[88px] gradientColor;
  }

  /* shining line basic style */
  .shiningLine {
    @apply w-[5px] h-4/6 bg-transparent group-hover:bg-pictonBlue rounded-2xl group-hover:shadow-pictonBlue shadow-sm;
  }
  .activeShiningLine {
    @apply bg-pictonBlue;
  }
}
