@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

/* base styles fonts and h1,h2.. */
:root {
  --toastify-color-progress-light: #ffb027;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .game-invite-notification {
    /* top: 8.5rem !important; */
    background: #47649e !important;
  }
  .fancy-progress-bar {
    background: #ffb027 !important;
  }
}

@layer base {
  /* Fonts */
  /* Beaufort for LOL Light */
  @font-face {
    font-family: "Beaufort";
    src: url("/src/assets/Fonts/BeaufortforLOL-Light.woff") format("woff");
    font-weight: 200;
    font-style: normal;
  }

  /* Beaufort for LOL Normal */

  @font-face {
    font-family: "Beaufort";
    src: url("/src/assets/Fonts/BeaufortforLOL-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }

  /* Beaufort for LOL Medium */

  @font-face {
    font-family: "Beaufort";
    src: url("/src/assets/Fonts/BeaufortforLOL-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }

  /* Beaufort for LOL Bold */
  @font-face {
    font-family: "Beaufort";
    src: url("/src/assets/Fonts/BeaufortforLOL-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }

  /* Beaufort for LOL Heavy */

  @font-face {
    font-family: "Beaufort";
    src: url("/src/assets/Fonts/BeaufortforLOL-Heavy.woff") format("woff");
    font-weight: 800;
    font-style: normal;
  }

  /* Spiegel Regular */
  @font-face {
    font-family: "Spiegel";
    src: url("/src/assets/Fonts/Spiegel-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }

  /* Spiegel SemiBold  */
  @font-face {
    font-family: "Spiegel";
    src: url("/src/assets/Fonts/Spiegel-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
  }

  /* Spiegel Bold */

  @font-face {
    font-family: "Spiegel";
    src: url("/src/assets/Fonts/Spiegel-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }

  /* text */
  .h1calcmd {
    font-size: calc(50.82px + 3.03vw);
  }
  .h1calc {
    font-size: calc(20.24px + 4.3vw);
  }

  .h2calc {
    font-size: calc(18.24px + 4.3vw);
  }
  .strong {
    @apply font-beaufort font-heavy uppercase h1calc sm:h1calcmd lg:text-6xl;
  }
  h1 {
    @apply font-beaufort font-heavy uppercase h1calc sm:h1calcmd lg:text-6xl;
  }

  h2 {
    @apply font-spiegel font-bold uppercase h2calc sm:text-5xl;
  }

  h3 {
    @apply font-spiegel font-semibold uppercase text-3xl sm:text-4xl;
  }

  h4 {
    @apply font-spiegel capitalize font-bold text-base sm:text-lg;
    letter-spacing: 0.54px;
    line-height: 20.7px;
  }

  h5 {
    @apply font-spiegel uppercase font-semibold text-xs sm:text-sm md:text-base lg:text-lg;
    letter-spacing: 2px;
    line-height: 11.5px;
  }

  p {
    @apply font-spiegel capitalize;
    font-size: 0.875rem;
    letter-spacing: 0.08em;
    line-height: 1.6;
  }

  /* The container */
  .input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .input-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    @apply relative w-[20px] h-[20px] bg-transparent border-2
    border-queenBlue rounded-lg;
  }

  /* On mouse-over, add a grey background color */
  .input-container:hover input ~ .checkmark {
    @apply bg-queenBlue/40;
  }

  /* When the checkbox is checked, add a blue background */
  .input-container input:checked ~ .checkmark {
    @apply bg-pictonBlue;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .input-container input:checked ~ .checkmark:after {
    display: block;
  }
  /* Style the checkmark/indicator */
  .input-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
